<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
		 version="6.0">
	<context-param>
		<param-name>jakarta.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>messages</param-value>
	</context-param>
	<listener>
		<listener-class>com.example.training.pizza.DatabaseInitializationContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.example.training.demo.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TodoJspServlet</servlet-name>
		<servlet-class>com.example.training.demo.TodoJspServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TodoJspServlet</servlet-name>
		<url-pattern>/TodoJspServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PizzaServlet</servlet-name>
		<servlet-class>com.example.training.pizza.PizzaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PizzaServlet</servlet-name>
		<url-pattern>/PizzaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PizzaOrdersServlet</servlet-name>
		<servlet-class>com.example.training.pizza.PizzaOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PizzaOrdersServlet</servlet-name>
		<url-pattern>/PizzaOrdersServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>NihCharacterEncodingFilter</filter-name>
		<filter-class>com.example.training.util.NihCharacterEncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>NihSecurityHeadersFilter</filter-name>
		<filter-class>com.example.training.util.NihSecurityHeadersFilter</filter-class>
	</filter>
	<filter>
		<filter-name>NihExpiresFilter</filter-name>
		<filter-class>com.example.training.util.NihExpiresFilter</filter-class>
	</filter>
	<filter>
		<filter-name>NihCsrfFilter</filter-name>
		<filter-class>com.example.training.util.NihCsrfFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NihCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NihSecurityHeadersFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NihExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NihCsrfFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>true</scripting-invalid>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-error.html</form-error-page>
		</form-login-config>
	</login-config>
	<error-page>
		<error-code>401</error-code>
		<location>/error-401.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error-403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error-404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error-500.html</location>
	</error-page>
	<error-page>
		<location>/error.html</location>
	</error-page>
</web-app>
